@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  background-color: #ef9a9a;
  margin: 20px;
  padding: 20px;
  background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.edit-btn {
  background-color: #d1c4e9;
}

.delete-btn{
  background-color: #d1c4e9;
}

.save-btn{
  background-color: #d1c4e9;
}

#sampleDataBtn{
  background-color: #d1c4e9;
}

.toBeReadButton {
  background-color: #d1c4e9;
}

.endDateButton {
  background-color: #d1c4e9;
}

.startDateButton {
  background-color: #d1c4e9;
}

.savedBookButton {
  background-color: #d1c4e9;
}

.saveThoughtButton {
  background-color: #d1c4e9;
}

.saveBookButton {
  background-color: #d1c4e9;
}

h1 {
  font-family: "Dancing Script", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* NEW CODE */

a:link {
  color: blue;
  background-color: transparent;
}

a:visited {
  color: #C51162;
  background-color: transparent;
}

a:hover {
  color: #880E4F;
  background-color: transparent;
}

a:active {
  color: #9575CD;
  background-color: transparent;
}

